.nodelayout-wrap {
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 5px;
  height: 400px;
  width: 100%;
  svg {
    g.unit-dis {
      cursor: move;
      &.selected {
        stroke-width: 3px;
      }
    }
  }
}