.nodelayout-wrap {
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 5px;
  height: 400px;
  width: 100%;
  svg {
    .small-circle {
      opacity: 0;
    }
    g.unit-dis {
      stroke-width: 1px;
      &.selected {
        stroke-width: 2px;
        .small-circle {
          opacity: 1;
          fill: #fff;
          stroke: #08c;
        }
      }
      .main-circle {
        cursor: move;
      }
    }
    .connect-line {
      opacity: 0;
      stroke: #111;
      stroke-width: 2px;
      &.show {
        opacity: 1;
      }
    }
  }
}