.nodelayout-wrap {
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 5px;
  width: 100%;
  svg {
    .small-circle {
      opacity: 0;
      fill: #fff;
      stroke: #08c;
    }
    g.unit-dis {
      stroke-width: 1px;
      &.selected, &:hover {
        stroke-width: 2px;
        .small-circle {
          opacity: 1;
        }
        .delete-circle {
          opacity: 1;
        }
      }
      .main-circle {
        cursor: move;
      }
    }
    .connect-line {
      opacity: 0;
      stroke: #111;
      stroke-width: 2px;
      &.show {
        opacity: 1;
      }
    }
    .delete-circle {
      cursor: pointer;
      opacity: 0;
    }
    .connect-fixed-line {
      stroke: #111;
      stroke-width: 2px;
    }
  }
}